<hr \>

<div class = "row">
  <div class = "large-10 columns about">
    <h3>Why Meet and Lunch?</h3>
  </dvi>

  <p>
    I used to be beset with a dilemma: bring lunch to work or buy lunch. I preferred to bring lunch, because it was cheaper, healthier and absolved me from waiting in lines during lunch hour, however, it was hard to cook a one-person meal.
  </p>

  <p>
    I also found networking could be a heavy-lifting job. Meetup and events provide great opportunities, but it is hard to build a connection with someone if you are introduced to 30 people in an hour.
  </p>

  <p>
    This is where Meet & Lunch comes in, a natural way to meet other professionals. Homemade food brings people together.
    If two or three people share lunch together and have a deep conversation, they spend quality time networking and really get to know each other.
  </p>
  </div>
</div>
